@import '@styles/_variables.module.scss';
@import '@styles/_mixin.module.scss';


.container{
    position: relative;

    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #0000004d;
        z-index: 11;
        transition: all 0.3s ease;
    }

    .sideBar{
        background-color: $white_color;
        z-index: 12;
        top: 0;
        right: 0;
        position: fixed;
        width: 350px;
        height: 100vh;

        transform: translateX(350px);
    }

    .sliderSideBar{
        transform: translateX(0px);
        transition: transform 0.3s ease;

        .boxIcon{
            position: absolute;
            left: -60px;
            top: 10px;
            background-color: $white_color;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            cursor: pointer;
            &:hover{
                background-color: #ccc;
                transition: background-color 0.3s ease;
            }
        }
    }
    
}